:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-alfa-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --bg-main-color: #ffffff;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --bg-accent-color: #2196f3;
  --bg-accent-color-button: #188ce8;
  --border-card-color: #eeeeee;
  --soc-icon-color-main: #afb1b8;
  --soc-bg-footer: rgba(255, 255, 255, 0.1);
}
/* reset style */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  background-color: var(--bg-main-color);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.hero,
.footer {
  background-color: var(--bg-dark-color);
}
.team {
  background-color: var(--bg-light-color);
}
.link {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item {
  list-style-type: none;
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.main-nav,
.nav {
  display: flex;
  align-items: center;
}
/* Логотип */
.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--black-color);
}
.link-logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
/* site-nav */
.list-nav {
  display: flex;
  margin-left: 93px;
}
.list-nav .item:not(:last-child),
.list-contacts .item:not(:last-child) {
  margin-right: 50px;
}
.link-contacts {
  display: flex;
  align-items: center;
  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav .link,
.list-nav .link-active,
.link-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-active {
  position: relative;
}
.link-active::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.list-contacts {
  display: flex;
  margin-left: auto;
}
.link-contacts {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}
.header-icon {
  fill: currentColor;
  margin-right: 10px;
}
.link-active {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}
/*---modal---*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bg-main-color);
}
.button-close {
  position: absolute;
  content: "";
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  background-color: var(--bg-main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}
.button-active {
  padding: 6px 22px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: var(--bg-accent-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 4px;
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-nav .link:hover,
.list-nav .link:focus,
.list-contacts .link:hover,
.list-contacts .link:focus {
  color: var(--accent-color);
  fill: currentColor;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.modal-item {
  margin-bottom: 10px;
  list-style: none;
}
.modal-form-comment,
.modal-lable {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.modal-field {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  content: "";
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--main-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:hover,
.model-textarea:focus {
  border-color: var(--accent-color);
}
.modal-comment {
  margin-bottom: 20px;
}
.custom-checkbox {
  width: 16px;
  height: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--black-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  opacity: 0;
  fill: var(--bg-main-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .custom-checkbox {
  outline-color: var(--accent-color);
}
.input-checkbox:checked + .custom-checkbox .checkbox-icon {
  opacity: 1;

  background-color: var(--accent-color);
}
.modal-consent-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--bg-accent-color-button);
}
.modal-consent-link {
  cursor: pointer;
  color: var(--accent-color);
}
.modal-consent-link:hover,
.modal-consent-link:focus {
  color: var(--bg-accent-color-button);
}
/* section */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
  text-align: center;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero .title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bg-light-color);
  margin-bottom: 30px;
}
.icon-features {
  width: 70px;
  height: 70px;
}
.item-features {
  flex-basis: calc((100%-90px) / 4);
}
.features-list {
  display: flex;
}
.features-list .item-features:not(:last-child) {
  margin-right: 30px;
}
.features-list .item {
  width: 270px;
}
.text-features {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
}
.title-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.section-activity {
  padding-top: 0px;
}
.list-activity {
  display: flex;
  list-style: none;
}
.list-activity .item-image:not(:last-child) {
  margin-right: 30px;
}
.item-image {
  position: relative;
}
.text-activity {
  content: "";
  position: absolute;
  display: flex;
  font-style: normal;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-main-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--soc-icon-color-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icon:not(:last-child) {
  margin-right: 10px;
}
.button-icon:hover,
.button-icon:focus {
  fill: var(--bg-main-color);
  background-color: var(--accent-color);
}
.soc-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 16px;
}
.soc-icon {
  width: 20px;
  height: 20px;
}
.soc-item:not(:last-child) {
  margin-right: 10px;
}
.item-team {
  flex-basis: calc((100%-90px) / 4);
  background-color: var(--bg-main-color);
  list-style-type: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-team .item-team:not(:last-child) {
  margin-right: 30px;
}
.title-card {
  padding: 30px;
}
.speciality {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
}
.list-team {
  display: flex;
}
.iteam-team {
  margin-right: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.title-section {
  font-size: 0%;
}
.title-team,
.title-activity {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.list-example .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.example-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.title .part-name {
  text-transform: uppercase;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* clients */
.title-clients {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.list-clients {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: calc(-1 * 30px);
}
.item-clients {
  flex-basis: calc((100%-150px) / 6);
  margin-right: 30px;
}
.link-clients {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--soc-icon-color-main);
  border-radius: 3px;
  fill: var(--soc-icon-color-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients:hover,
.link-clients:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.logo-company {
  background-size: contain;
}

/* button */
.button-studio {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  border-color: var(--accent-color);
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--bg-accent-color);
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-studio:hover,
.button-studio:focus {
  background-color: var(--bg-accent-color-button);
  border-color: var(--accent-color);
}
.button-portfolio {
  padding: 6px 22px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: var(--main-color);
  background: var(--bg-light-color);
  letter-spacing: 0.03em;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--bg-accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .text {
  font-weight: 400;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}
/* portfolio */
.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.item-filter:not(:last-child) {
  margin-right: 8px;
}
.item-button:not(:last-child) {
  margin-right: 8px;
}
.item-button {
  border: 0;
}
.list-example {
  display: flex;
  flex-wrap: wrap;
}
.list-example.item-example {
  flex-basis: calc((100%-60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-example:not(:nth-child(3n)) {
  margin-right: 30px;
}
.item-example:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.example-card {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
}
.example-card-thumb {
  position: relative;
  overflow: hidden;
}
.overlay-example {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-text-thumb {
  position: absolute;
  content: "";
  top: 63px;
  left: 24px;
  right: 24px;
  bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--bg-main-color);
}
.item-example:hover .overlay-example {
  transform: translateY(0);
}
.link-example {
  display: block;
}
.link-example:hover,
.link-example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* footer */
.logo-link {
  margin-bottom: 20px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}
.logo-footer {
  color: var(--white-color);
  margin-bottom: 20px;
}
.address-link {
  color: var(--white-alfa-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-first {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--bg-accent-color);
}
.address-item {
  margin-top: 9px;
}
.footer-soc-part {
  display: block;
}
.footer-soc-title,
.subscription-text {
  text-align: start;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--bg-main-color);
  background-color: var(--soc-bg-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  fill: var(--bg-main-color);
  background-color: var(--bg-accent-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-contacts-part {
  margin-right: 70px;
}
.subscription-footer {
  margin-left: 93px;
}
.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-alfa-color);
  background-color: var(--bg-dark-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input:hover,
.subscription-input:focus {
  border-color: var(--white-alfa-color);
}
.subscription-form {
  display: flex;
}
.subscription-button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  color: var(--bg-main-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-icon {
  margin-left: 10px;
}
.subscription-button:hover,
.subscription-button:focus {
  background-color: var(--bg-accent-color-button);
}
.subscription-icon {
  margin-left: 10px;
  fill: var(--bg-main-color);
}
